*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    background-color: #fff; 
}

.navbar .logo{
    width: 10px;
    height: auto;
}

.navbar .logo img{
    width: 90px;
    height: auto;
}

.navbar .nav-links{
    display:flex;
}

.navbar .nav-links li{
    list-style: none;
    margin-left: 50px;
    cursor: pointer;
}

.nav-links a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 16px;
}


.side-menu{
    display: none;
}

.div-btn{
    display: flex;
}

.btn{
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    background-color: aqua;
    cursor: pointer;
    margin-right: 20px;
}

.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    gap: 100px;
}

.div-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 50%;
    max-width: 50%;
}

.div-left h1{
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 1.2rem;
}

.div-left span{
    color: rgb(46, 57, 201);
}

.div-left p{
    font-size: 20px;
    margin-bottom: 1.2rem;
}

.div-left .btn-book{
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(152deg,rgba(145, 194, 237, 1) 0%, rgba(29, 50, 209, 1) 32%, rgba(23, 77, 194, 1) 62%, rgba(76, 151, 217, 1) 80%, rgba(10, 171, 240, 1) 100%);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.div-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 50%;
    max-width: 50%;
}

.div-right img{
    max-width: 100%;
    height: auto;
    flex: 50%;
}
/* @media (width >= 1200px ) {
    .nav-btn {
        display: none;
    }
}
@media (max-width: 1200px ) {
    .nav-btn {
        display: none;
    }
} */

@media (width >= 768px){
    .nav-btn {
        display: none;
    }
}

@media (max-width: 768px){
    .navbar .logo img{
        width: 70px;
    }

    .navbar .nav-links li{
        margin-left: 15px;
        font-size: 14px;
    }

    .div-left h1{
        font-size: 40px;
        line-height: 50px;
    }

    .div-left p{
        font-size: 16px;
    }

    .div-left .btn-book{
        padding: 15px 30px;
        font-size: 16px;
    }
    
    .nav-btn {
        display: none;
    }
}

@media (max-width: 600px){
    .navbar .nav-links {
        display: none;
    }

    .main{
        flex-direction: column;
        gap: 20px;
        padding: 20px 15px; 
    }
    
    .div-left, .div-right {
        max-width: 100%;
        text-align: center; 
        align-items: center; 
    }

    .div-left h1 {
        font-size: 30px;
        line-height: 40px;
    }

    .div-left p {
        font-size: 16px;
    }

    .btn{
        margin-left:300px;
    }

    .nav-btn {
        display: block;
    }

}

/* For mobile view */

.hamburger-menu{
    display: none;
}

.nav-links li{
    list-style: none;
}

@media (max-width:600px){

    .hamburger-menu{
        display: block;
    }
    .hamburger-btn{
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
    }
    .hamburger-btn svg{
        fill:  black;
        margin-right: 10px;
    }
    .side-menu {
        display: none; 
        position: absolute;
        top: 0;
        right: 10px;
        width: 40%;
        height: 100vh;
        background: linear-gradient(180deg,rgba(22, 85, 168, 1) 0%, rgba(29, 163, 253, 1) 27%, rgba(111, 186, 232, 1) 58%, rgba(69, 194, 252, 1) 100%);        z-index: 1000;
        padding-top: 100px; 
        border-radius: 10px;
    }
    .side-menu .side-nav-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        list-style: none;
    }

    .side-menu .side-nav-links li a {
        color: white;
        text-decoration: none;
        font-size: 18px;
    }
    .side-nav-links li a:hover{
        background: linear-gradient(90deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
        -webkit-background-clip: text;
        background-clip: text;   
        color: transparent; 
    }

    .hamburger-btn:focus + .side-menu, .side-menu:hover{
        display: block;
    }
}



